<div>
    <div class="breadcrumb col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="category-breadcrumb">
            <li>Home</li>
            <li>Category name</li>
            <li class="active-category">Subcategory name</li>
        </ul>
    </div>

    <div class="subcategory-name col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Subcategory Name</h1>
    </div>
</div>