---
component: footer
---
<footer id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer" role="contentinfo">
    <div class="footer-content ">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <h4 class="header-footer">About Us</h4>
            <ul class="about-us">
                <li>Our story</li>
                <li>Offers</li>
                <li>Blog</li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <h4 class="header-footer">Help</h4>
            <ul class="help">
                <li>Contact Us</li>
                <li>Shipping Info</li>
                <li>Privacy Policu</li>
                <li>Sitemap</li>
            </ul>            
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <h4 class="header-footer">Connect</h4>
                <ul class="connect-icon">
                    <li class="social-icon-footer icon-facebook"></li>
                    <li class="social-icon-footer icon-twitter"></li>
                    <li class="social-icon-footer icon-youtube"></li>  
                    <li class="social-icon-footer icon-instagram"></li>    
                </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <h4 class="header-footer">Newsletter Sign Up</h4>
            <div class="form-group">
              <input type="text" class="form-control newsletter-sign-up" placeholder="Enter Email">
              <button class="sign-up">SIGN UP</button>
            </div>
        </div>
    </div>
    <div class="copy-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p>Copyright 2015 Gorilla</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 address-company">
            <p>Gorilla | 111 W. Jackson Suite 300 | Chicago, II 60604</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 back-to-top">
            <p id="backToTop" class="back-top"><span class="back-to-top-text">Back to Top</span> <span class="back-to-top-icon icon-up-arrow"></span></p>
        </div>
    </div>
</footer>