---
component: header
---

<header id="masthead" class="masthead" role="banner">
    <div class="welcome-header">
        <ul>
            <li>Welcome, John Doe!</li>
            <li>John Doe <span class="icon-down-arrow down-arrow"></span></li>
        </ul>
        
    </div>
    <div class="container-fluid">
        <span class="logo col-lg-2 col-md-2 col-sm-12 col-xs-12">
	        <a href="#">
                <img src="{{assets}}/images/logo.gif" alt="{{site.title}}" />
            </a>
        </span>
	    <nav class="navigation col-lg-5 col-md-5 col-sm-6 col-xs-12" role="navigation">
            <ul>
                <li>Browse</li>
                <li>Contact</li>
                <li>About us</li>
            </ul>
	    </nav>
        <div class="searching col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <input type="text" class="search" placeholder="Search">
            <span class="icon-mini-bag mini-bag"></span>
        </div>
    </div>
</header>