<div class="shop-by">
    <h2>Shop By</h2>
    <div class="shop-by-hr">
        <hr>
    </div>
</div>

<aside>
    <div class="applied">
        <h3>Applied:</h3>
        <ul>
            <li class="attribute-category">Attribute category: attribute 1 <span class="icon-remove-attribute icon-remove"></span></li>
            <li class="attribute-category">attribute category: attribute 1 <span class="icon-remove-attribute icon-remove"></span></li>
        </ul>
        <div class="clear-all">
            <span>Clear All</span>
        </div>
    </div>

    <div class="hr-line">
        <hr>
    </div>

    <div class="attribute-category col-lg-12 col-md-12 col-sm-3 col-xs-6">
        <h3>Attribute category:</h3>
        <ul>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
        </ul>
    </div>

    <div class="attribute-category col-lg-12 col-md-12 col-sm-3 col-xs-6">
        <h3>Attribute category:</h3>
        <ul>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
        </ul>
    </div>

    <div class="attribute-category col-lg-12 col-md-12 col-sm-3 col-xs-6">
        <h3>Attribute category:</h3>
        <ul>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
        </ul>
    </div>

    <div class="attribute-category col-lg-12 col-md-12 col-sm-3 col-xs-6">
        <h3>Attribute category:</h3>
        <ul>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
            <li><span class="sub-attribute">Attribute 1</span>(123)</li>
        </ul>
    </div>

</aside>