<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter">
    <div class="gird col-lg-2 col-md-2 col-sm-2 hidden-xs">
        <span class="icon-three-gird three-gird active-op" id="threeGird"></span> 
        <span class="icon-two-gird two-gird" id="twoGird"></span>
    </div>
           
    <div class="form-group select-filter col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label>Sort:</label>
        <select class="form-control position-select select-black">
            <option>Position</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
    </div>
    <div class="form-group select-filter col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label>Show:</label>
        <select class="form-control show-select select-black">
            <option>15</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <span>1-5 of 150</span>
    </div>
    <div class="select-page col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <span class="arrow-back icon-arrow-left"></span>
        <span class="number-page">1 - 15</span>
        <span class="arrow-next icon-arrow-right active-op"></span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-hr">
        <hr>
    </div>
</div>

<div class="row-product col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-1.jpg" alt="Product" class="img-responsive" />
                <span class="icon-new new-product"></span>
            </div>
            <h3 class="product-title">Product Title 01</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price">$100.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-2.jpg" alt="Product" class="img-responsive" />
                <span class="icon-sale sale-product"></span>
            </div>
            <h3 class="product-title">Product Title 02</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price old-price">$100.00</span> <span class="price new-price">$75.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-3.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 03</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price">$100.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-1.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 01</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price">$100.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-2.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 02</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price old-price">$100.00</span> <span class="price new-price">$75.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-3.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 03</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price">$100.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-1.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 01</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price">$100.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-2.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 02</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price old-price">$100.00</span> <span class="price new-price">$75.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product-subcategory">
            <div class="img-product">
                <img src="assets/images/products/product-3.jpg" alt="Product" class="img-responsive" />
            </div>
            <h3 class="product-title">Product Title 03</h3>
            <ul class="col-lg-12 stars">
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-full"></li>
                <li class="icon-star icon-star-empty"></li>
            </ul>
            <div class="price">
                <span class="price">$100.00</span>
            </div>
            <ul class="col-lg-12 colors">
                <li class="icon-color icon-color-873043"></li>
                <li class="icon-color icon-color-00979c"></li>
                <li class="icon-color icon-color-62b99b"></li>
                <li class="icon-color icon-color-ff5e64"></li>
                <li class="icon-color icon-color-e86d20"></li>
            </ul>
        </div>
</div>